
.game-container {
    display: flex;
}

.card-area {

}



.dealerTitle {
    margin: 25px 0px 25px 25px; 
    color: white; 
    font-size: 24px; 
}


.dealerArea {
display: grid; 
justify-content: first;
border: 1px solid white;
width: 500px; 
height: 300px; 
margin: 100px 30px; 


}



.playerTitle {
    margin: 25px 0px 25px 25px; 
    color: white; 
    font-size: 24px; 
}

.playerArea {
display: grid; 
justify-content: first;
border: 1px solid white;
width: 500px; 
height: 300px; 
margin: 100px 30px; 


}






.communityTitle {
    margin: 25px 0px 25px 100px; 
    color: white; 
    font-size: 24px; 
    text-align: left; 
}


.communityArea {
display: grid; 
justify-content: end; 
border: 1px solid white;
width: 300px; 
height: 500px; 
margin: 100px 30px; 


}