.actions {
display: flex; 
margin: 20px; 



.dealerArea {
justify-content: flex-start; 


.dealerTitle {
    color: white; 
    font-size: 30px; 
    text-align: center; 
}

button {
    font-size: 20px; 
    border: none; 
    justify-content: center;
    margin: 20px; 
    padding: 10px;  
}

}



.potArea {
    justify-content: center; 
    width: 30%; 

.potTitle {
    color: white; 
    font-size: 30px; 
    text-align: center; 

}

img {
    display: block; 
    margin: 0 auto; 
}

.potNumber {
    color: white; 
    font-size: 24px; 
    margin-left: 120px; 
}

}


.actingArea {
    justify-content: flex-end; 
   

.actingTitle {
    color: white; 
    font-size: 30px; 
    text-align: center; 

}

.act {
    margin: 10px; 
}

input {
    font-size: 20px; 
}

button {
    font-size: 20px; 
    width: 100px; 
    border: none; 
}

}


.act2 {
    display: block; 
    font-size: 20px; 
    margin-top: 50px; 
    margin-left: 50px; 

    
.actingButton2 {
    width: 75px; 
    padding: 10px; 
    border: none; 
    margin: 10px; 

}
}




}


.modal {
    height: 500px; 
    width: 300px; 
}

.modal-header {
    font-size: 28px; 
    margin-left: 20px; 
}

.modal-body {
    font-size: 24px; 
    margin-left: 20px; 
}

.modal-button {
    font-size: 30px; 
}






.game-container {
    display: flex;
    width: 100%; 
    margin: 20px; 
}


.computerArea {
    width: 30%; 
    border: 1px solid white; 
    margin: 20px;
    height: 500px;  
}

.computerTitle {
    margin: 10px; 
    color: white; 
    font-size: 24px; 
}


.communityArea {
    width: 30%; 
    border: 1px solid white; 
    margin: 20px; 
    height: 500px; 
}


.communityTitle {
    margin: 10px; 
    color: white; 
    font-size: 24px; 
}





.playerArea {
    width: 30%;
    border: 1px solid white; 
    margin: 20px; 
    height: 500px;  
    
}


.playerTitle {
    margin: 10px; 
    color: white; 
    font-size: 24px; 
}


.holeDeals {
    list-style-type: none; 
    display: inline-flex; 
    padding: 10px; 
    
}


.cardImage {
    width: 100px; 
    height: 200px; 
}