.Landing {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}




.GameSelect {
  margin: 50px 100px 20px 200px; 
  color: white; 
  font-size: 42px; 

}

.game-group {
  display: flex; 
  justify-content: center; 
 margin-top: 100px; 

}



.game-container {
  flex-wrap: wrap;
  justify-content: center;  
  background-color: white; 
  width: 200px;
  height: 250px; 
  transition: all .5s ease; 
  margin: 20px;  
}


.game-container:hover {
  transform: translate3D(0, -1px, 0) scale(1.03); 
  transition: all .4s ease; 
  text-decoration: none; 
}

.game-image {
  display: block; 
  margin: 0 auto;
  margin-top: 10px; 
  width: 200px;
  height: 200px;  

  
}



.game-image-2 {
  display: block; 
  margin: 0 auto; 
  margin-top: 10px; 
  width: 150px;
  height: 200px;  
  
}

.gameText {
  font-size: 24px; 
  text-align: center; 
  color: #3b3b3b;
  
}


.navLink:hover {
  text-decoration: none; 
}



.footerInfo {
  margin-top: 150px; 
  text-align: center; 
  padding: 15px; 
  font-size: 16px; 
  background-color: #3b3b3b; 
  color: white; 
}
