// animations
@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card-area-container {
  border: 1px solid #3b3b3b81; 
  min-height: 324px;
  width: 800px; 
  border-radius: 2px; 
  margin-top: 30px;
  margin-left: 30px;
  .area-name {
    text-align: left; 
    font-size: 24px; 
    padding: 20px;
    padding-bottom: 0;
    font-weight: bold;
  }
  
  .card-area {
    padding: 20px;
    display: flex;

    .cardItem {
      width: 150px;
      margin-right: 10px;

      // animation
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
    }
  }
}

