.main-navbar {
    background: #3b3b3b;
    color: #fff;  
    
    .container {
        
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .score-balance {
   
    }

}