.card-area-container {
  border: 1px solid #3b3b3b; 
  width: 600px; 
  border-radius: 2px; 
  margin: 30px;
}

.area-name {
  text-align: left; 
  font-size: 24px; 
  margin: 20px;
}

.AreaCard {
  height: 200px; 
  width: 300px; 
  margin: 0 20px; 
  align-items: justify;
  padding-right: 200px; 
}
