.slot-payouts {
    color: #fff;
    border: 1px solid grey;
    border-radius: 2rem;

    h1 {
        text-align: center;
    }

    img {
        width: 100%;
    }

    .payout-desc {
        text-align: center;
        font-size: 1.6rem;        
    }
}